/* Jumbotron */
.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

.jumbotron .nama .lead span {
  mix-blend-mode: color-burn;
  color: rgb(0, 107, 207);
}

/* Navbar */
.container .nav-item .nav-link:hover::after {
  content: "";
  color: rgb(255, 255, 255);
  display: block;
  border-bottom: 0px solid rgb(255, 255, 255);
  margin: auto;
  margin-bottom: -0px;
}

.navbar-nav .nav-item .btn {
  color: #ffffff;
  text-transform: uppercase;
  border: solid #dc3545;
  background-color: #dc3545;
  border-radius: 20px;
  margin-left: 7px;
}

.navbar-nav .nav-item .btn:hover {
  color: rgb(0, 107, 207);
  background-color: rgb(255, 255, 255);
  border: solid rgb(255, 255, 255);
}

/* Gallery */
#gallery {
  background-color: #e2edff;
}

/* Section */
section {
  padding-top: 5rem;
}

section .card-body .card-text {
  text-align: center;
}

/* Footer */
footer {
  padding-top: 15px;
}

footer p a {
  text-decoration: none;
}

footer p a:hover {
  text-shadow: 1px 1px 3px black;
}
