@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

/* Navbar */
nav {
  background-color: #3b3b3b;
}

/* .container .nav-item .nav-link:hover::after {
  content: "";
  color: #ffff;
  display: block;
  border-top: 1px solid #ffffff;
  border-radius: 50%;
  margin: auto;
  margin-bottom: -1px;
} */

.container .nav-item .nav-link:hover {
  color: #ffff;
}

/* Section */
section .card-body .card-text {
  text-align: center;
}

/* Jumbotron */
.jumbotron {
  padding-top: 6rem;
  background-color: #ffff;
}

/* About */
#about {
  padding-top: 4rem;
  background-color: #e2edff;
}

#about .about-text {
  font-size: 28px;
}

#about .about-text a {
  margin-top: 22px;
}

#about .about-text .btn {
  background-color: #3b3b3b;
  color: #fff;
  border-radius: 10px;
  width: 80px;
  font-size: 18px;
  font-weight: bold;
}

#about .about-text .btn:hover {
  opacity: 0.7;
}

#carousel .carousel-inner .carousel-item img {
  border-radius: 10px;
}

/* Gallery */
#gallery {
  padding-top: 4rem;
}

.modal .modal-dialog .modal-content img {
  margin: auto;
}

#project1 .modal-footer a {
  text-decoration: none;
  margin-bottom: -20px;
  color: #000;
}

#project1 .modal-footer a:hover {
  font-weight: bold;
}

#project1 .modal-footer a:hover::after {
  content: " → ";
}

/* Skill */
#skills {
  padding-top: 4rem;
}

/* lang */
.lang {
  position: relative;
  background-color: #3b3b3b;
  border-radius: 20px;
  height: 350px;
  transform-style: preserve-3d;
}

/* html */
.html-text {
  position: absolute;
  color: #ffff;
  font-size: 4em;
  font-weight: bold;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.6s;
}

.html:hover .html-text {
  transform: translate3d(-50%, 60%, 30px);
  opacity: 1;
}

.img-html {
  position: absolute;
  max-width: 130px;
  top: 50%;
  left: 50%;
  transition: 0.6s;
  transform: translate3d(-50%, -50%, 50px);
}

.lang:hover .img-html {
  transform: translate3d(-50%, -30%, 50px) scale(1.1);
}

/* css */
.css-text {
  position: absolute;
  color: #ffff;
  font-size: 4em;
  font-weight: bold;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.6s;
}

.css:hover .css-text {
  transform: translate3d(-50%, 60%, 30px);
  opacity: 1;
}

.img-css {
  position: absolute;
  max-width: 110px;
  top: 50%;
  left: 50%;
  transition: 0.6s;
  transform: translate3d(-50%, -50%, 50px);
}

.lang:hover .img-css {
  transform: translate3d(-50%, -30%, 50px) scale(1.1);
}

/* javascript */
.js-text {
  position: absolute;
  color: #ffff;
  font-size: 4em;
  font-weight: bold;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.6s;
}

.js:hover .js-text {
  transform: translate3d(-50%, 60%, 30px);
  opacity: 1;
}

.img-js {
  position: absolute;
  max-width: 130px;
  top: 50%;
  left: 50%;
  transition: 0.6s;
  transform: translate3d(-50%, -50%, 50px);
}

.lang:hover .img-js {
  transform: translate3d(-50%, -30%, 50px) scale(1.1);
}

/* php */
.php-text {
  position: absolute;
  color: #ffff;
  font-size: 4em;
  font-weight: bold;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.6s;
}

.php:hover .php-text {
  transform: translate3d(-50%, 60%, 30px);
  opacity: 1;
}

.img-php {
  position: absolute;
  max-width: 130px;
  top: 50%;
  left: 50%;
  transition: 0.6s;
  transform: translate3d(-50%, -50%, 50px);
}

.lang:hover .img-php {
  transform: translate3d(-50%, -30%, 50px) scale(1.1);
}

/* Contact */
#contact {
  padding-top: 4rem;
}

/* Footer */
footer {
  background-color: #3b3b3b;
}

footer .akunig a {
  text-decoration: none;
  color: #ffff;
}

footer .akunig i:hover {
  color: #000;
}

footer .akunig a:hover {
  color: #000;
}

footer p b a {
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
}

footer p b a:hover {
  color: #000;
}
